# Build products
/.build/
build
cmake-build-debug

# User directory for temp files and folders
tmp*

# zkLLVM output directory
/zkllvm/output/

# VS Code configuration
/.vscode/

# MacOS files
.DS_Store

# IntelliJ IDEA files
.idea

# Python versions used by pyenv
.python-version

# Kompiled directories
*-kompiled
