# Build products
/.build/
build
cmake-build-debug

# User directory for temp files
/tmp/

# zkLLVM output directory
/zkllvm/output/

# VS Code configuration
/.vscode/

# MacOS files
.DS_Store

# IntelliJ IDEA files
.idea

# Cairo
cairo/target
